@charset "UTF-8";

/*@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-titulo: 'Passion One', cursive, serif;
    --fonte-cordel: 'Sriracha', cursive, serif;
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif
}

html, body{
    min-height: 100vh;
    font-family: var(--fonte-padrao) ;
}

header{
    background-color: black;
    color: white;
    min-height: 250px;
}

header > h1{
    text-align: center;
    font-family: var(--fonte-titulo);
    font-variant:small-caps;
    padding-top: 50px;
    font-size: 15vw;


}
header > p{
    text-align: center;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    padding-bottom:50px;

}
header a, footer a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

header a:hover, footer a:hover{
    text-decoration: underline;
}


main{
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
    background-color: white;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--fonte-cordel);
    font-size: 3em;
    padding-left: 30px;
    font-size: 5vw;
    
}

section.normal{
    background-color: white;
    color: black;
}

section.imagens{
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.644) ;
}

section.imagens > p{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px;
}

section#girassol{
    background: black url('../fundos/background001.jpg') center top no-repeat fixed;
    background-size: cover;
    
}

section#fundo-livro{
    background: black url('../fundos/background002.jpg') center center no-repeat fixed;
    background-size: cover;
    
}

section p {
    padding-bottom: 2em;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
}

footer > p{
    text-align: center;
}

a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

a:hover{
    text-decoration: underline;
}