@charset "UTF-8";

/*Outras mídias*/

@media screen and (min-width:768px){

body{
    height: 100vh;
}
menu{
    display: block;
}
span#burguer {
    display: none;
}
menu > ul > li{
    display: inline-block;
}
main{
    width: 700px;
}

}